# Properties for the test config

# the consumer oauth stuff for your app
app.consumer.key=4NZ24o0FnUMT4ngO6Lg1ow
app.consumer.secret=8W5UTZIspWQ3HDhUSW8gnCNn5JHJJDrUbCtI3O0UY

# this user must be authed on the above app
user.screen.name=AdamJWynne
user.access.token=15321630-zcoeGWH65Fpr2224UgXkwlP7jta5X0TyAosmiry1w
user.access.token.secret=z3BEJ64ld2glCkIuWjZaA9sbk5ni3RCAU2VtleCEc
